* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

body {
  font-family: montserrat;
}

nav{
  position: fixed;
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover{
  background: #1b9bff;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
}

#grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 80px;
  gap: 20px;
  z-index: -1;
}

.grid-container{
  background: #0a1a27;
  padding: 183px;
}

.grid-container:nth-child(1){
  grid-column: span 3;
}
.grid-container:nth-child(2){
  grid-row: span 2;
}
.grid-container:nth-child(3){
  grid-column: span 2;
}
.grid-container:nth-child(4){
  grid-column: span 2;
}

img{
  height: 100%;
  width: 100%;
}

h1{
  display: flex;
  justify-content: center;
  align-items: stretch;
}